html,body {
    height: 100%;
    width: 100%;
}
body {
    background-color: #212121;
}
div {

}


.navbar {
    background-color: #121212;
}
#home {
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
}
.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.sidebar {
    min-height: calc(100vh - 60px);
    border-right: 1px solid #ffffff;
}

.sidebar-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}

.wiki-header {
    display: table-cell;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid grey;
}

.wiki-link {
    color: white;
    text-decoration: underline;
}
