html,body {
    height: 100%;
    width: 100%;
}
body {
    background-color: #212121;
}
div {

}
.navbar {
    background-color: #121212;
}
#home {
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
}
.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.sidebar {
    min-height: calc(100vh - 60px);
    border-right: 1px dashed #ffffff;
}

.wiki-header {
    display: table-cell;
    text-align: left;
    vertical-align: top;
}

